version: "3.9"

services:
  db:
    image: postgres:16
    container_name: aprobaciones-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
      POSTGRES_DB: aprobaciones_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  mongo:
    image: mongo:6
    container_name: aprobaciones-mongo
    restart: unless-stopped
    environment:
      MONGO_INIT DB_ROOT_USERNAME: admin
      MONGO_INIT DB_ROOT_PASSWORD: admin123
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network
volumes:
  postgres_data:
  mongo_data:

networks:
  app-network:
    driver: bridge
