# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Build
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Prisma
prisma/*.db
prisma/*.db-journal
prisma/migrations/*-shadow.db
prisma/migrations/*-journal

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
